.tabs {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(0, 0, 0, 0.7);
  gap: 0.5rem;
}

.tab {
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.active {
  color: black;
  font-weight: 600;
}
